*
  box-sizing border-box

body
  font-family Helvetica Neue, Helvetica, Arial, sans-serif
  font-size 14px

main
  display block
  padding 20px 10px

.inner
  min-width 320px
  max-width 960px
  margin 0 auto

.clear:after
  content ''
  display block
  clear both

.flex-box
  display flex
  flex-direction row
  flex-wrap wrap
  align-items stretch
  justify-content space-between
  align-content flex-start

  .flex-item
    flex-grow 1