header
  background-color #f5f5f5
  box-shadow 2px 2px 1px rgba(0, 0, 0, 0.2)

  .inner
    height 40px

    .logo
      display inline-block
      margin 5px 0 0 5px
      vertical-align middle
      text-decoration none

      & > *
        vertical-align middle