.tabs
  li
    text-align center

    a
      display block
      padding 6px 15px
      border 1px solid #f5f5f5
      text-decoration none
      color inherit

      &.active
        background-color #f5f5f5
        font-weight bold